pkgbase = pulseaudio-equalizer-ladspa
	pkgdesc = A 15-band equalizer for PulseAudio
	pkgver = 3.0.2
	pkgrel = 7
	url = https://github.com/pulseaudio-equalizer-ladspa/equalizer
	arch = any
	license = GPL3
	makedepends = meson
	depends = python-gobject
	depends = gtk3
	depends = swh-plugins
	depends = pulseaudio
	depends = bc
	source = pulseaudio-equalizer-ladspa-3.0.2.tar.gz::https://github.com/pulseaudio-equalizer-ladspa/equalizer/archive/v3.0.2.tar.gz
	sha512sums = a916d55f02002de3f0053b0bf1e6f2315e517caa42d6b1e5d19268d895376d990a793d73f52e0050e44b391d61c190c3be23ccf31cef018521740c6cc0a728e0

pkgname = pulseaudio-equalizer-ladspa
